<div class="container">
  <div class="row">
    <div class="col-11 d-flex justify-content-between">
      <h2><%= @cocktail.name %></h2>
      <%= link_to "Back to list", cocktails_path, class: "button" %>
    </div>
  </div>
  <br>
  <div class="row">

    <div class="col-5 pl-3 pr-3">
      <div class="cocktail-img-show">
      <%= image_tag @cocktail.photo.url %>
      </div>
      <div>
        <h5>How to make the cocktail:</h5>
      </div>
      <div class="text">
        <p><%= @cocktail.procedure %></p>
      </div>

    </div>

    <div class="col-6 pl-3 pr-3">

      <div>
        <h5 class="mb-3">Ingredients:</h5>
      </div>

      <div class="mb-3 mt-3">
        <ul class="list-group list">
          <% @cocktail.doses.each do |dose| %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <div class="dose mr-3">
                    <%= "#{dose.description}" %>
                  </div>
                  <div class="flex-fill">
                    <%= "#{dose.ingredient.name}" %>
                  </div>
                </div>
                <div class="trash">
                  <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

        <div class="mb-3 mt-3">
          <h5>Add ingredient to this cocktail:</h5>
        </div>
        <div class="mb-3 mt-3">
          <%= simple_form_for([@cocktail, @dose]) do |f| %>
            <div class="form-group text">
              <%= f.association :ingredient, label: "Choose an ingredient:", collection: Ingredient.all.order(:name).reject { |ingredient| @cocktail.ingredients.include?(ingredient) } %>
            </div>
            <div class="form-group text">
              <%= f.input :description, label: "Enter an amount:" %>
            </div>
            <%= f.button :submit, "Add", class: 'button' %>
          <% end %>
        </div>

    </div>

  </div>
  <hr>
  <div class="row">

    <div class="col-5">
      <div>
        <h5>Reviews:</h5>
      </div>
      <div class="text">
        <ul class="list-group list">
          <% @cocktail.reviews.each  do |review| %>
            <li class="list-group-item">
              <div class="d-flex justify-content-between mb-2">
                <span><strong>User: </strong><%=review.name%></span>
                <span>
                  <strong>Rating: </strong>
                  <% if review.rating.zero? %>
                    <i class="fas fa-skull-crossbones"></i>
                  <% else %>
                    <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  <% end %>
                </span>
              </div>
              <div>
                <%=review.content%>
              </div>
            </li>
          <% end %>
        </ul>

      </div>
    </div>
    <div class="col-6 pl-3 pr-3">
      <div>
          <h5>Add review to this cocktail:</h5>
        </div>
        <div class="mb-3 mt-3">
          <%= simple_form_for([@cocktail, @review]) do |f| %>
            <div class="d-flex">
              <div class="form-group text review-name mr-2 mb-0">
                <%= f.input :name %>
              </div>
              <div class="form-group text review-rating mb-0">
                <%= f.input :rating, collection: [0,1,2,3,4,5] %>
              </div>
            </div>
            <div class="form-group text">
              <%= f.input :content %>
            </div>
            <%= f.button :submit, "Add", class: 'button' %>
          <% end %>
        </div>
      </div>

  </div>



  </div>
  <br>

</div>
